@import url("../css/fonts.css");
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-gray);
}

:root {
    /* color stack */
    --text-gray: #222222;
    --dark-sky: #89C2D9;
    --bg-color: #012A4A;
    --light-blue: #012A4A;
    --white: #ffffff;
    --text-light: #20283E;
    --sky: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    --sky1: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    --sky3: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    /* blues -- #011f4b • #03396c • #005b96 • #6497b1 • #b3cde0 */
    /* font family stack */
    --Abel: "abel", cursive;
    --Dosis: "Dosis", cursive;
    --Hammersmith: "Hammersmith", cursive;
    --Julius_Sans: "Julius_Sans", cursive;
    --nanum_bold: "nanum_bold", cursive;
    --nanum_regular: "nanum_regular", cursive;
}


/* global */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Abel);
    font-size: 2.5rem;
    color: var(--bg-color);
}

h2 {
    font-family: var(--Abel);
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    font-size: 1rem;
    font-family: var(--nanum_bold);
    cursor: pointer;
}


/* ---------navbar-------------- */

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}


/* .brand-name i {
    font-size: 1.1rem;
} */

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--bg-color);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    margin: 0;
    display: flex;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--light-blue);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand a {
    font-size: 1.7rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .social i {
    padding: 0 .2rem;
}


/*----x----- end of navbar css ---x---- */


/* ------main -------- */

main .site-title {
    background: url(../img/Add\ a\ heading.jpg);
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background {
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1 {
    margin: 0.3rem;
}

main .site-title .btn {
    margin: 1.8rem;
    background: var(--sky1);
}

main .site-title .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
}


/* --------x---main-----x----- */


/* viewport less than or equal to 750px */

@media only screen and (max-width:750px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }
    .nav .toggle-collapse {
        display: initial;
    }
}


/* viewport less than or equal to 750px */