@import url("../css/fonts.css");
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    text-decoration: none;
}

:root {
    /* color stack */
    --text-gray: #222222;
    --dark-sky: #89C2D9;
    --bg-color: #012A4A;
    --light-blue: #012A4A;
    --white: #ffffff;
    --text-light: #20283E;
    --sky: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    --sky1: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    --sky3: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    /* blues -- #011f4b • #03396c • #005b96 • #6497b1 • #b3cde0 */
    /* font family stack */
    --Abel: "abel", cursive;
    --Dosis: "Dosis", cursive;
    --Hammersmith: "Hammersmith", cursive;
    --Julius_Sans: "Julius_Sans", cursive;
    --nanum_bold: "nanum_bold", cursive;
    --nanum_regular: "nanum_regular", cursive;
}


/* navbar */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--bg-color);
}

.nav .nav-items {
    margin: 0;
    display: flex;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--light-blue);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand a {
    padding: 1rem, 0;
    display: block;
    font-family: var(--nanum_bold);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .social i {
    padding: 0 .2rem;
}


/*----x----- end of navbar css ---x---- */


/* viewport less than or equal to 750px */

@media only screen and (max-width:750px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }
    .nav .toggle-collapse {
        display: inline;
    }
}


/* viewport less than or equal to 750px */